@tailwind base;
@tailwind components;
@tailwind utilities;
table {
    margin-top: 10px;
}

table,
th,
td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 5px;
}

.loading {
    width: 25px;
    height: 25px;
    background-color: white;
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
    border-bottom: none;
    animation: spin 200ms infinite linear;

}

.visibility {
    visibility: hidden;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

input {
    padding: 5px;

}

button {
    padding: 5px;
}